<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.albert.measure">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AboutUsActivity"
            android:label="@string/title_activity_about_us"/>
        <activity
            android:name=".activities.SensorTestActivity"
            android:label="@string/title_activity_sensor_test"/>
        <activity
            android:name=".activities.HeightActivity"
            android:label="@string/title_activity_height"/>
        <activity
            android:name=".activities.TutorialActivity"
            android:label="@string/title_activity_tutorial"/>
        <activity
            android:name=".activities.PointMethodActivity"
            android:label="@string/title_activity_point_method"/>
        <activity
            android:name=".activities.ResultsActivity"
            android:label="@string/title_activity_results"
            android:theme="@style/ResultsAppTheme"/>
        <activity
            android:name=".activities.AddElementActivity"
            android:label="@string/title_activity_add_element"/>
        <activity
            android:name=".activities.AddPointActivity"
            android:label="@string/title_activity_add_element"/>
        <activity
            android:name=".activities.AddAngleActivity"
            android:label="@string/title_activity_add_element"/>
        <activity
            android:name=".activities.AddVectorActivity"
            android:label="@string/title_activity_add_element"/>
        <activity
            android:name=".activities.AddAreaActivity"
            android:label="@string/title_activity_add_element"/>
        <activity
            android:name=".activities.AddVolumeActivity"
            android:label="@string/title_activity_add_element"/>
    </application>

</manifest>